/* global style */
:root{
    --primary-color: #8CC640;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
ul[role='list'],
ol[role='list'] {
    list-style: none;
}
html:focus-within {
    scroll-behavior: smooth;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a{
    text-decoration: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.btns-questions{
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
	margin: 16px 0;
}
.btn-dark{
	border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    padding: 16px 24px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-dark:hover{
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.btn-light{
	border-radius: 20px;
	border: 1px solid var(--primary-color);
	background: #FFF;
	color: var(--primary, #8CC640);
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding: 16px 24px;
}
.btn-light:hover{
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
}
.web-name{
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
    z-index: 1;
}
.main-para{
    color: #F5F5F5;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
}

.error-box {
    position: relative;
    bottom: 16px;
    width: 470px;
    max-width: 100%;
}
.error-box span {
    color: #dc3545!important;
}

@media (max-width:991px) {
    .web-name{
        font-size: 47px;
    }
    .main-para{
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .btn-light,
	.btn-dark{
		padding: 12px 20px;
	}
    .web-name{
        font-size: 34px;
    }
    .main-para{
        font-size: 14px;
    }
}
@media (max-width:620px) {
    .web-name{
        font-size: 32px;
    }
}
@media (max-width:547px){
    .web-name{
        font-size: 33px;
        z-index: 1;
        margin-bottom: 16px;
    }
    .main-para{
        z-index: 1;
    }
    .main-section{
        background-image:url(../images/background-mobile-bottom.png),url(../assets/images/background-mobiole-top.png);
        background-position: left bottom, left top;
        background-color: #afdfa4;
        background-repeat: no-repeat, no-repeat;
        background-size: contain;
        position: relative;
    }
    /* .main-section::before{
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.50);
        left: -1;
        top: -1;
        width: 100%;
        height: 100%;
    } */

}
@media (max-width:509px){
    .web-name{
        font-size: 26px;
    }
}
@media (max-width:404px){
    .web-name{
        font-size: 20px;
    }
    .main-para{
        font-size: 13px;
    }
}
/* home page */
.main-section{
    background: url(../images/main-background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-section .content button{
    border-radius: 20px;
    border: none;
    padding: 16px 32px;
    background: var(--primary-color, #8CC640);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1;
    cursor:pointer
}
.main-section .content a{
    margin-top: 100px;
}
@media (max-width:991px) {
    .main-section .content button{
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .main-section .content button{
        font-size: 14px;
    }
}

@media (max-width:547px){
    .main-section .content button{
        z-index: 1;
        position: relative;
        padding: 16px 24px;
    }
    .main-section .content a{
        margin-top: 40px;
    }
}

@media (max-width:404px){
    .main-section .content button{
        font-size: 13px;
    }
}
/* login page */
.login{
    background: url(../assets/images/background-circle.png);
    height: 100vh;
    background-size: cover;
}
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-content h1{
    color: var(--primary-color);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
    text-transform: uppercase;
    
}
.login-content span{
    color: #4F4F4F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form-login{
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icons-inputs{
    position: relative;
    margin-bottom: 16px;
    width: 470px;
    max-width: 100%;
}
.icon-form{
    position: absolute;
    color: #ADC58F;
    font-size: 20px;
    top: 21px;
    left: 4%;
}
.input-form{
    border-radius: 10px;
    border: 1px solid #F4FFE7;
    background:#F4FFE7;
    width: 470px;
    max-width: 100%;
    color: #BDBDBD;
    outline: none;
    padding: 18px 53px;
}
.input-form::placeholder{
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-form:focus{
    border: 1px solid var(--primary-color);
    color: #4F4F4F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: white;
}

.input-form:focus ~ .icon-form{
    color: var(--primary-color);
}
.main-btn{
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.main-btn:hover{
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);

}


@media (max-width:390px) {
    .login-content span{
        text-align: center;
    }
    .input-form{
        padding: 14px 44px;
    }
    .icon-form{
        top: 18px;
    }
}
/* send page */
.sure-send{
    background: url(../images/background-circle.png);
    height: 100vh;
    background-size: cover;
}
.sure-send-top{
    height: calc(100vh - 123px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.assess-score{
    color: var(--primary-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.submit-answers{
    color: #333333;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-send-sure{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.privacy-label{
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.privacy-span{
    color: var(--primary-color); 
}
.btns-sure-send{
    margin: 32px 0;
}
.input-send-sure{
	appearance: none;
	position:relative;
    width: 15px;
    height: 15px;
    top: -3px;
    left: -1px;
	transform:translate(-1px,3px);
}
.input-send-sure::after{
	width: 15px;
    height: 15px;
    top: -3px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #333333;
}
.input-send-sure:checked {
	width: 15px;
    height: 15px;
    position: relative;
    border: 1px solid var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
}
.input-send-sure:checked:after {
	position: relative;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    color: var(--primary-color);
    font-size: 11px;
    font-weight: 900;
    text-align: center;
    top: -5px;
    left: -1px;
    border: none;
}

/* modal */
.title-my-modal{
    color: var(--primary-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.body-my-modal{
    color: #333333a3;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.btn-my-modal{
    border-radius: 15px;
    background: var(--primary-color);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 24px;
    display: block;
    margin: auto;
    border: 1px solid #8cc640;
}

@media (max-width:991px) {
    .submit-answers{
        font-size: 22px;
    }
    .privacy-label{
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .submit-answers{
        font-size: 20px;
    }
    .privacy-label{
        font-size: 13px;
    }
}
@media (max-width:547px) {
    .assess-score{
        font-size: 22px;

    }
    .submit-answers{
        font-size: 18px;
    }
    
}
@media (max-width:547px) {
    .input-send-sure,
    .input-send-sure::after,
    .input-send-sure:checked{
        width: 13px;
        height:13px;
    }
    .input-send-sure:checked:after{
        font-size: 9px;
        top: -7px;
        left: -2px;
    }
}
@media (max-width:420px) {
    .submit-answers{
        font-size: 16px;
    }
    .privacy-label{
        font-size: 12px;
    }
}
/* resault page */
    .main-section{
        background: url(../images/main-background.png);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .content-end-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .charts-container{
        background: white;
        height: calc(100vh - 200px);
        width: 100%;
        max-width: 800px;
        border-radius: 20px;
        padding:30px;
        overflow-y: scroll;
    }
    .charts-container::-webkit-scrollbar {
        width: 0px;
    }

/* thanks page */
.main-section{
    background: url(../images/main-background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.content-end-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* question page */
.progress-number{
	color: #333;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 50px 0 34px;
}
.question-number{
	color: var(--primary-color);
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.progress{
	--bs-progress-bar-bg: var(--primary-color);
	--bs-progress-bg:#f2f2f2;
	margin-bottom: 7px;
}
.progress-completed{
	color: #333;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 11px;
}
/* one question */
.content-wrap-height{
	height: calc(100vh - 246px);
}
.content-wrap{
	min-height: calc(100vh - 246px);
}

.content-questions{
	display: flex;
    justify-content: center;
    height: 100%;
	flex-direction: column;
	gap: 24px;
}
.form-progress{
	width: 100%;
}
.name-input{
	display: block;
	border-style: none;
	border-bottom: 1px solid var(--primary-color);
	background: #F4FFE7;
	width: 100%;
	max-width: 100%;
	margin-top: 24px;
	padding: 19px 0 19px 24px;
}
.name-input::placeholder{
	color: #BDBDBD;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
.name-input:focus{
	outline: none;
	color: #4F4F4F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btns-questions{
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
	margin: 16px 0;
}
.btn-dark{
	border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    padding: 16px 24px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-dark:hover{
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.btn-light{
	border-radius: 20px;
	border: 1px solid var(--primary-color);
	background: #FFF;
	color: var(--primary, #8CC640);
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding: 16px 24px;
}
.btn-light:hover{
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.18);
}
/* seconde question */
.question-text{
	display: flex;
    gap: 12px; 
}
.ques-txt{
	color:#333;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	flex-basis: calc(100% - 85px);
	margin-bottom: 8px;
}
.question-number-form{
	color: var(--primary-color);
	text-align:right;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	flex-basis: 110px;
}
.select-input{
	background: #F4FFE7;
    display: flex;
    gap: 40px;
}
.answer-radio{
	display: flex;
    flex-direction: column;
    gap: 16px;
}
.input-radio{
	appearance: none;
	position: relative;
    transform: translate(10px, 10px);
}
.input-radio:after {
	width: 24px;
    height: 24px;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #8cc640;
}
.input-radio:checked {
	width: 24px;
    height: 24px;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    position: relative;
    color: #8cc640;
    content: '';
    display: inline-block;
    visibility: visible;
	padding: 10px;
    border: 2px solid #8cc640;
}
.input-radio:checked:after {
	width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -11px;
    left: -6px;
    position: relative;
    background-color: #8cc640;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #8cc640;
}

.label-radio{
	color:#4F4F4F;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px 0;
	width: calc(900px - 24px);
}
/* third question */
.ques-txt-small{
	color: var(--primary-color);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.answer-rate{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.btn-rate{
	width: 60px;
    height: 60px;
	background: #F4FFE7;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
	color: var(--primary-color);
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.btn-rate:focus{
    background: var(--primary-color);
	color: white;
}
/* fifth question*/
.answer-checkbox {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.label-checkbox{
	color:#4F4F4F;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 6px 0;
	width: calc(900px - 24px);
}
.input-checkbox{
	appearance: none;
	position:relative;
	transform:translate(10px,7px)
}
.input-checkbox::after{
	width: 20px;
    height: 20px;
    top: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #8cc640;
}
.input-checkbox:checked {
	width: 20px;
    height: 20px;
    top: -1px;
    position: relative;
    background: var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
}
.input-checkbox:checked:after {
	position: relative;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    color: white;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}
.content-checkbox{
	margin-top: 23px;
}


@media (max-width:768px){
	.btn-light,
	.btn-dark{
		padding: 12px 20px;
	}
	.answer-rate{
		justify-content: unset;
		gap:24px;
	}
	.question-number-form{
		flex-basis:133px
	}
}
@media (max-width:547px) {
	.form-progress,
	.question-text{
		width: 100%;
	}
	.btns-questions{
		gap: 8px;
	}
	.ques-txt,
	.question-number-form{
		font-size:20px;
	}
	.ques-txt-small{
		font-size:12px;
	}
	.btn-rate{
		width: 40px;
		height: 40px;
	}
}
@media (max-width:404px){
	.ques-txt,
	.question-number-form{
		font-size:16px;
	}
}